@import 'global';

body{
    background: url('https://img.freepik.com/vector-gratis/fondo-hermoso-aurora-boreal_23-2148298475.jpg?size=626&ext=jpg');
    background-repeat: repeat-y;
    background-size:100%;
}
.App {
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
}
  