@import 'global';

.container{
    width: 450px;
    height: 400px;
    border-radius: 5%;
    border: 1px solid rgba(14, 226, 208, 0.836);
    background-color: rgba(255, 255, 255, 0.151);
    box-shadow: 8px 8px 20px rgba(1, 7, 19, 0.609);
    color:white;
    padding-top: 10px;
    @media #{$smarphone} {
       width: 80%;
       height: 60%;
    }
}
.flecha{
    @include caja-flex (flex,row,center,center,nowrap);
    margin-left: 3%;
    font-size: 30px
    
}

.infoImg{
    @include caja-flex (flex,column,center,center,nowrap);
    width: 40%;
}
.ii{
    width: 100%;
    border-right: 1px solid rgba(14, 226, 208, 0.836);
}
.info{
    @include caja-flex(flex,row,center,center,nowrap);
}
.infoC{
    padding: 6%;
    font-size: 20px;
    width: 60%;
    @media #{$smarphone} {
        font-size: 15px;
    }
}