@import 'global';

.form{
    @include caja-flex(flex,row,center,center,nowrap);
    width: 100%;
    height: 90px;
}
.input{
    border-top: 4px solid rgba(14, 226, 208, 0.836);
    border-bottom: 4px solid rgba(14, 226, 208, 0.836);
    border-right: 4px solid rgba(14, 226, 208, 0.836);
    border-left: none;
    width: 40%;
    background-color: transparent;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    font-size: 30px;
    @media #{$smarmini} {
        width: 30%;
        font-size: 8px;
    }
    @media #{$smarphone} {
        width: 40%;
        font-size: 15px;
    }
    @media #{$tablet} {
        width: 35%;
    }
}
.search{
    background-color: rgba(14, 226, 208, 0.37);
    width: 10%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top: 4px solid rgba(14, 226, 208, 0.836);
    border-bottom: 4px solid rgba(14, 226, 208, 0.836);
    border-left: 4px solid rgba(14, 226, 208, 0.836);
    border-right: none;
    color: white;
    margin: 1px;
    font-size: 30px;
    @media #{$smarmini} {
        width: 16%;
        font-size: 8px;
    }
    @media #{$smarphone} {
        width: 18%;
        font-size: 10px;
        padding: 1%;
    }
    @media #{$tablet} {
        width: 25%;
    }
}

.form{
    height: 100%;
}
.search:hover{
    background-color:rgba(8, 172, 158, 0.37);;
}