@import 'global';

.form{
    @include caja-flex(flex,row,center,center,nowrap);
    width: 100%;
    height: 90px;
}
.input{
    border-top: 4px solid rgba(14, 226, 208, 0.836);
    border-bottom: 4px solid rgba(14, 226, 208, 0.836);
    border-right: 4px solid rgba(14, 226, 208, 0.836);
    border-left: none;
    width: 45%;
    height: 55%;
    background-color: transparent;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    @media #{$smarphone} {
        width: 40%;
        height: 35%;
    }
    @media #{$tablet} {
        width: 35%;
        height: 30%;
    }
}
.search{
    background-color: rgba(14, 226, 208, 0.37);
    height: 55%;
    width: 10%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top: 4px solid rgba(14, 226, 208, 0.836);
    border-bottom: 4px solid rgba(14, 226, 208, 0.836);
    border-left: 4px solid rgba(14, 226, 208, 0.836);
    border-right: none;
    color: white;
    @media #{$smarphone} {
        width: 30%;
        height: 35%;
    }
    @media #{$tablet} {
        width: 25%;
        height: 30%;
    }
}
.search:hover{
    background-color:rgba(8, 172, 158, 0.37);;
}