.card {
  margin: 20px;
  width: 16rem;
  height: 16rem;
  border-radius: 4%;
  border:1px solid rgba(14, 226, 208, 0.836);
  background-color: rgba(255, 255, 255, 0.151);
  animation: backInDown;
  animation-duration: 1.5s; 
}


.card:hover{
  box-shadow: 8px 8px 20px rgba(1, 7, 19, 0.609);
  transform: scale(
        1.05
    );
  background-color: rgba(14, 226, 208, 0.281);
}

.card-title {
  margin-bottom: 15px;
  text-decoration: none;
  color: white
}

.imgN{
  justify-content: center;
  align-items: center;
}


#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-top: 8px;

}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
 
}
